@{
    Layout = null;
}
@using LoggerPortal.Helper

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Logger Portal</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Css/bootstrap.min.css" rel="stylesheet">
    <link href="~/Css/bootstrap-responsive.min.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600"
          rel="stylesheet">
    <link href="~/Css/font-awesome.css" rel="stylesheet">
    <link href="~/Css/style.css" rel="stylesheet">
    <link href="~/Css/pages/dashboard.css" rel="stylesheet">
    <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
          <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
        <![endif]-->
    @RenderSection("Styles", required: false)
    <style>
        .navbar-dark .navbar-nav .nav-link > i{
            margin-right: 4px;
        }
    </style>
</head>
<body>
    @* Header/nav Bar *@
    <header class="navbar navbar-expand-md navbar-dark bg-dark">
        <a class="navbar-brand" href="@Url.Action("DashBoard","Home")">Logger</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarsExampleDefault" aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarsExampleDefault">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @Html.ActivePage("Home")"><a class="nav-link" href="@Url.Action("DashBoard","Home")"><i class="icon-dashboard"></i><span>Dashboard</span> </a> </li>
                <li class="nav-item @Html.ActivePage("Finance")"><a class="nav-link"  href="@Url.Action("Index","Finance")"><i class="icon-money"></i><span>Finance</span> </a> </li>
                <li class="nav-item @Html.ActivePage("Workout")"><a class="nav-link" href="@Url.Action("Index","Workout")"><i class="icon-play-circle"></i><span>Workout</span> </a></li>
                <li class="nav-item @Html.ActivePage("Activity")"><a class="nav-link" href="@Url.Action("Index","Activity")"><i class="icon-book"></i><span>Activity</span> </a> </li>
                <li class="nav-item @Html.ActivePage("People")"><a class="nav-link" href="@Url.Action("Index","People")"><i class="icon-group"></i><span>Accounts</span> </a> </li>
            </ul>
            <form class="form-inline my-2 my-lg-0 pull-right" action="@Url.Action("Exit", "Access")">
                @*<input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">*@
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit" ac>Logout</button>
            </form>
        </div>
    </header>
    
    @* Body *@
    <div class="main">
        <div class="main-inner">
            <div class="container">
                    @RenderBody()
            </div>
        </div>
    </div>

    <!-- /footer
    <div class="footer fixed-bottom">
        <div class="footer-inner">
            <div class="container">
                <div class="row">
                    <div class="span12"> &copy; 2018 <a href="#">Logger</a>. </div>
                </div>
            </div>
        </div>
    </div> -->

    <!-- Placed at the end of the document so the pages load faster -->
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/excanvas.min.js"></script>
    @Scripts.Render("~/bundles/jqueryui")
    <script src="~/Scripts/chart.min.js" type="text/javascript"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script language="javascript" type="text/javascript" src="~/Scripts/full-calendar/fullcalendar.min.js"></script>
    <script src="~/Scripts/base.js"></script>
    <script src="~/Scripts/Helper.js"></script>
    @RenderSection("ViewModel", required: false)
</body>
</html>
