@model LoggerPortal.Models.Login
@{
    ViewBag.Title = "Enter";
    Layout = null;
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>Login - Logger</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <link href="~/Css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/bootstrap-responsive.min.css" rel="stylesheet" type="text/css" />
    <link href="~/Css/font-awesome.css" rel="stylesheet">
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,400,600" rel="stylesheet">
    <link href="~/Css/style.css" rel="stylesheet" type="text/css">
    <link href="~/Css/pages/signin.css" rel="stylesheet" type="text/css">

</head>
<body>
    <div class="account-container">
        <div class="content clearfix">
            @using (Html.BeginForm("Enter", "Access", FormMethod.Post, new { @class= "form-signin" }))
            {
                @Html.AntiForgeryToken();
                @Html.ValidationSummary(true, "", new { @class = "text-danger" });

                <div style="margin-bottom:10%;text-align:center">
                    <a class="brand">
                        <img src="~/Images/signin/Logger.png" height="50" width="50"/>
                    </a>
                </div>
                @Html.LabelFor(u => u.Email, new { @class = "sr-only" })
                @Html.TextBoxFor(u => u.Email, new { @class = "form-control", @type="Email", @placeholder = "Email", @required = "", @autofocus = "" })
                @Html.ValidationMessageFor(u => u.Email, "", new { @class = "text-danger" })

                @Html.LabelFor(u => u.Password, new { @class = "sr-only"})
                @Html.PasswordFor(u => u.Password, new { @class = "form-control", @placeholder = "Password", @required = "" })
                @Html.ValidationMessageFor(u => u.UserName, "", new { @class = "text-danger" })
                <div class="login-actions">
                    <input type="submit" value="Sign In" class="button btn btn-success btn-large" />
                </div>
            }
         
            @*<form class="form-signin">
                <h2 class="form-signin-heading">Please sign in</h2>
                <label for="inputEmail" class="sr-only">Email address</label>
                <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required="" autofocus="">
                <label for="inputPassword" class="sr-only">Password</label>
                <input type="password" id="inputPassword" class="form-control" placeholder="Password" required="">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" value="remember-me"> Remember me
                    </label>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">Sign in</button>
            </form>*@
        </div> <!-- /content -->
    </div>
    <script src="~/Scripts/jquery-1.7.2.min.js"></script>
    <script src="~/Scripts/bootstrap.js"></script>
    <script src="~/Scripts/signin.js"></script>
</body>
</html>
